$primary-color: #e61313;
$secondary-color: #ffffff;

html, body {
    margin: 0;
    font-family: Arial;
    color: $secondary-color;
    font-size: 1rem;
  }
  
  

  p, ul {
    font-size: 1rem;
  }
  
  img {
    padding-left: 30px;
    height: 350px;
    width: 550px;
  }

  li {
    list-style-type: circle;
    list-style-position: inside;
  }
  
  .container {
    min-height: 100%;
    display: flex;
    font-size: 1rem;
  
  }
  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }